extends layout

block content
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-default
        .panel-body
          .terms-and-co(style="margin-top:70px")
            .register-head
              h2.hammerfont
                i.fa.fa-dropbox.fa-3(style="padding:0 3px;")
                | Dragbox
            h3 EULA
        
            p Dragbox 1.0
            p Copyright (c) 2014 Funky Fresh Boyz Unlimited
        
            p #{__("*** END USER LICENSE AGREEMENT ***")}
        
            p #{__("**IMPORTANT: PLEASE READ THIS LICENSE CAREFULLY BEFORE USING THIS SOFTWARE.**")}
        
            h3 1. #{__("LICENSE")}
        
            p #{__("By receiving, opening the file package, and/or using Dragbox 1.0(\"Software\") containing this software, you agree that this End User User License Agreement(EULA) is a legally binding and valid contract and agree to be bound by it. You agree to abide by the intellectual property laws and all of the terms and conditions of this Agreement.")}
        
            p #{__("Unless you have a different license agreement signed by Funky Fresh Boyz Unlimited your use of Dragbox 1.0 indicates your acceptance of this license agreement and warranty.")}
        
            p #{__("Subject to the terms of this Agreement, Funky Fresh Boyz Unlimited grants to you a limited, non-exclusive, non-transferable license, without right to sub-license, to use Dragbox 1.0 in accordance with this Agreement and any other written agreement with Funky Fresh Boyz Unlimited. Funky Fresh Boyz Unlimited does not transfer the title of Dragbox 1.0 to you; the license granted to you is not a sale. This agreement is a binding legal agreement between Funky Fresh Boyz Unlimited and the purchasers or users of Dragbox 1.0.")}
        
            p #{__("If you do not agree to be bound by this agreement, remove Dragbox 1.0 from your computer now and, if applicable, promptly return to Funky Fresh Boyz Unlimited by mail any copies of Dragbox 1.0 and related documentation and packaging in your possession.")}
        
            h3 2. #{__("DISTRIBUTION")}
        
            p #{__("Dragbox 1.0 and the license herein granted shall not be copied, shared, distributed, re-sold, offered for re-sale, transferred or sub-licensed in whole or in part except that you may make one copy for archive purposes only. For information about redistribution of Dragbox 1.0 contact Funky Fresh Boyz Unlimited.")}
        
            h3 3. #{__("USER AGREEMENT")}
        
            h4 3.1 #{__("Use")}
        
            p #{__("Your license to use Dragbox 1.0 is limited to the number of licenses purchased by you. You shall not allow others to use, copy or evaluate copies of Dragbox 1.0.")}
        
            h4 3.2 #{__("Use Restrictions")}
        
            p #{__("You shall use Dragbox 1.0 in compliance with all applicable laws and not for any unlawful purpose. Without limiting the foregoing, use, display or distribution of Dragbox 1.0 together with material that is pornographic, racist, vulgar, obscene, defamatory, libelous, abusive, promoting hatred, discriminating or displaying prejudice based on religion, ethnic heritage, race, sexual orientation or age is strictly prohibited.")}
        
            p #{__("Each licensed copy of Dragbox 1.0 may be used on one single computer location by one user. Use of Dragbox 1.0 means that you have loaded, installed, or run Dragbox 1.0 on a computer or similar device. If you install Dragbox 1.0 onto a multi-user platform, server or network, each and every individual user of Dragbox 1.0 must be licensed separately.")}
        
            p #{__("You may make one copy of Dragbox 1.0 for backup purposes, providing you only have one copy installed on one computer being used by one person. Other users may not use your copy of Dragbox 1.0 . The assignment, sublicense, networking, sale, or distribution of copies of Dragbox 1.0 are strictly forbidden without the prior written consent of Funky Fresh Boyz Unlimited. It is a violation of this agreement to assign, sell, share, loan, rent, lease, borrow, network or transfer the use of Dragbox 1.0. If any person other than yourself uses Dragbox 1.0 registered in your name, regardless of whether it is at the same time or different times, then this agreement is being violated and you are responsible for that violation!")}
        
            h4 3.3 #{__("Copyright Restriction")}
        
            p #{__("This Software contains copyrighted material, trade secrets and other proprietary material. You shall not, and shall not attempt to, modify, reverse engineer, disassemble or decompile Dragbox 1.0. Nor can you create any derivative works or other works that are based upon or derived from Dragbox 1.0 in whole or in part.")}
        
            p #{__("Funky Fresh Boyz Unlimited's name, logo and graphics file that represents Dragbox 1.0 shall not be used in any way to promote products developed with Dragbox 1.0 . Funky Fresh Boyz Unlimited retains sole and exclusive ownership of all right, title and interest in and to Dragbox 1.0 and all Intellectual Property rights relating thereto.")}
        
            p #{__("Copyright law and international copyright treaty provisions protect all parts of Dragbox 1.0, products and services. No program, code, part, image, audio sample, or text may be copied or used in any way by the user except as intended within the bounds of the single user program. All rights not expressly granted hereunder are reserved for Funky Fresh Boyz Unlimited.")}
        
            h4 3.4 #{__("Limitation of Responsibility")}
        
            p #{__("You will indemnify, hold harmless, and defend Funky Fresh Boyz Unlimited , its employees, agents and distributors against any and all claims, proceedings, demand and costs resulting from or in any way connected with your use of Funky Fresh Boyz Unlimited's Software.")}
        
            p #{__("In no event (including, without limitation, in the event of negligence) will Funky Fresh Boyz Unlimited , its employees, agents or distributors be liable for any consequential, incidental, indirect, special or punitive damages whatsoever (including, without limitation, damages for loss of profits, loss of use, business interruption, loss of information or data, or pecuniary loss), in connection with or arising out of or related to this Agreement, Dragbox 1.0 or the use or inability to use Dragbox 1.0 or the furnishing, performance or use of any other matters hereunder whether based upon contract, tort or any other theory including negligence.")}
        
            p #{__("Funky Fresh Boyz Unlimited's entire liability, without exception, is limited to the customers' reimbursement of the purchase price of the Software (maximum being the lesser of the amount paid by you and the suggested retail price as listed by Funky Fresh Boyz Unlimited ) in exchange for the return of the product, all copies, registration papers and manuals, and all materials that constitute a transfer of license from the customer back to Funky Fresh Boyz Unlimited.")}
        
            h4 3.5 #{__("Warranties")}
        
            p #{__("Except as expressly stated in writing, Funky Fresh Boyz Unlimited makes no representation or warranties in respect of this Software and expressly excludes all other warranties, expressed or implied, oral or written, including, without limitation, any implied warranties of merchantable quality or fitness for a particular purpose.")}
        
            h4 3.6 #{__("Governing Law")}
        
            p #{__("This Agreement shall be governed by the law of the United States applicable therein. You hereby irrevocably attorn and submit to the non-exclusive jurisdiction of the courts of United States therefrom. If any provision shall be considered unlawful, void or otherwise unenforceable, then that provision shall be deemed severable from this License and not affect the validity and enforceability of any other provisions.")}
        
            h4 3.7 #{__("Termination")}
        
            p #{__("Any failure to comply with the terms and conditions of this Agreement will result in automatic and immediate termination of this license. Upon termination of this license granted herein for any reason, you agree to immediately cease use of Dragbox 1.0 and destroy all copies of Dragbox 1.0 supplied under this Agreement. The financial obligations incurred by you shall survive the expiration or termination of this license.")}
        
            h3 4. #{__("DISCLAIMER OF WARRANTY")}
        
            p #{__("THIS SOFTWARE AND THE ACCOMPANYING FILES ARE SOLD \"AS IS\" AND WITHOUT WARRANTIES AS TO PERFORMANCE OR MERCHANTABILITY OR ANY OTHER WARRANTIES WHETHER EXPRESSED OR IMPLIED. THIS DISCLAIMER CONCERNS ALL FILES GENERATED AND EDITED BY Dragbox 1.0 AS WELL.")}
        
            h3 5. #{__("CONSENT OF USE OF DATA")}
        
            p #{__("You agree that Funky Fresh Boyz Unlimited may collect and use information gathered in any manner as part of the product support services provided to you, if any, related to Dragbox 1.0.Funky Fresh Boyz Unlimited may also use this information to provide notices to you which may be of use or interest to you.")}
